@model IEnumerable<ThriftShop.Models.BrandResult>

@{
    ViewData["Title"] = "ListOfBrands";
}

<h2>ListOfBrands</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumOfProducts)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfProducts)
            </td>
        </tr>
}
    </tbody>
</table>
